<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8">
    <title>ShoppingList DashBoard</title>
  </head>
  <body>
    <div layout:decorator="layout">
      <div layout:fragment="content">
        <br />
        <a class="button is-primary" id="create-action">Update product</a>
        <a class="button is-danger" id="delete-action">Delete product</a>
        <br />
        <div class="modal" id="create-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="notification is-white">
              <h3>Update product</h3>
              <form th:method="put" th:action="@{/product/{id}(id=${product.get().getId()})}">
                <label>Product ID <span th:text="${product.get().getId()}"></span></label>
                <input type="hidden" name="id" th:value="${product.get().getId()}">
                <input type="hidden" name="createdAt" th:value="${product.get().getCreatedAt()}">
                <input type="hidden" name="updatedAt" th:value="${product.get().getUpdatedAt()}">
                <input type="text" name="name" class="input" th:value="${product.get().getName()}" required>
                <label>Status</label>
                <input type="text" name="status" class="input" th:value="${product.get().getStatus()}" required>
                <input type="submit" value="Update" class="button is-primary">
              </form>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" id="close-create-action"></button>
        </div>
        <div class="modal" id="delete-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="notification is-white">
              <h3>Delete product</h3>
              <form th:method="delete" th:action="@{/product/{id}(id=${product.get().getId()})}">
                <label>Delete Product ID <span th:text="${product.get().getId()}"></span></label>
                <input type="hidden" name="id" th:value="${product.get().getId()}">
                <br />
                <input type="submit" value="Delete" class="button is-danger">
              </form>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" id="close-delete-action"></button>
        </div>
        <div class="list is-hoverable">
          <a class="list-item">
            ID: <span th:text="${product.get().getId()}"></span>
          </a>
          <a class="list-item">
            Name: <span th:text="${product.get().getName()}"></span>
          </a>
          <a class="list-item">
            Status: <span th:text="${product.get().getStatus()}"></span>
          </a>
          <a class="list-item">
            Created at: <span th:text="${product.get().getCreatedAt()}"></span>
          </a>
          <a class="list-item">
            Updated at: <span th:text="${product.get().getUpdatedAt()}"></span>
          </a>
        </div>
        <div class="list is-hoverable">
        </div>
        <hr />
        <a class="button is-primary" id="create-url">Add</a>
        <br />
        <div class="modal" id="url-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="notification is-white">
              <h3>Add product</h3>
              <form method="post" th:action="@{/product/{productId}/candidacy/create(productId=${product.get().getId()})}">
                <label>URL</label>
                <input type="text" name="url" class="input" required>
                <input type="submit" value="Submit" class="button is-primary">
              </form>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" id="close-create-url"></button>
        </div>
        <table class="table is-responsive">
          <thead>
            <tr>
              <th>ID</th>
              <th>URL</th>
              <th>Created at</th>
              <th>Updated at</th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="candidacy: ${candidacies}">
              <td th:text="${candidacy.getId()}"></td>
              <td th:text="${candidacy.getUrl()}"></td>
              <td th:text="${candidacy.getCreatedAt()}"></td>
              <td th:text="${candidacy.getUpdatedAt()}"></td>
              <td><a class="button is-danger is-small" th:id="'delete-candidacy-' + ${candidacy.getId()}">Delete</a></td>
              <div class="modal" id="delete-candidacy-modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <div class="notification is-white">
                    <form th:method="delete" th:action="@{'/product/' + ${product.get().getId()} + '/candidacy/delete/' + ${candidacy.getId()}}">
                      <label>Delete URL: <span th:text="${candidacy.getUrl()}"></span></label>
                      <br />
                      <input type="hidden" name="id" th:value="${candidacy.getId()}">
                      <input type="submit" value="Delete" class="button is-danger">
                    </form>
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close" th:id="'close-delete-candidacy-' + ${candidacy.getId()}"></button>
              </div>
            </tr>
          </tbody>
        </table>
        <script th:inline="javascript">
          /*<![CDATA[*/
          const candidacyIdList = /*[[${candidacyIdList}]]*/;
          /*]]>*/
        </script>
        <script src="/javascript/dynamic-modal.js" th:src="@{/javascript/dynamic-modal.js}"></script>
      </div>
    </div>
  </body>
</html>
