<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8">
    <title>ShoppingList DashBoard</title>
  </head>
  <body>
    <div layout:decorator="layout">
      <div layout:fragment="content">
        <div>
          <a href="/dashboard">DashBoard</a>
        </div>
        <a class="button is-small is-primary" id="create-action">Update product</a>
        <a class="button is-small is-danger" id="delete-action">Delete product</a>
        <div class="modal" id="create-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="notification is-white">
              <h3>Add product</h3>
              <form th:method="put" th:action="@{/product/{id}(id=${product.get().getId()})}">
                <label>Product ID <span th:text="${product.get().getId()}"></span></label>
                <input type="hidden" name="id" th:value="${product.get().getId()}">
                <input type="hidden" name="createdAt" th:value="${product.get().getCreatedAt()}">
                <input type="hidden" name="updatedAt" th:value="${product.get().getUpdatedAt()}">
                <input type="text" name="name" class="input" th:value="${product.get().getName()}" required>
                <label>Status</label>
                <input type="text" name="status" class="input" th:value="${product.get().getStatus()}" required>
                <input type="submit" value="Submit" class="button is-primary">
              </form>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" id="close-create-action"></button>
        </div>
        <div class="modal" id="delete-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="notification is-white">
              <h3>Add product</h3>
              <form th:method="delete" th:action="@{/product/{id}(id=${product.get().getId()})}">
                <label>Delete Product ID <span th:text="${product.get().getId()}"></span></label>
                <input type="hidden" name="id" th:value="${product.get().getId()}">
                <input type="submit" value="Submit" class="button is-primary">
              </form>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" id="close-delete-action"></button>
        </div>
        <label>Product</label>
        <div class="list is-hoverable">
          <a class="list-item">
            ID: <span th:text="${product.get().getId()}"></span>
          </a>
          <a class="list-item">
            Name: <span th:text="${product.get().getName()}"></span>
          </a>
          <a class="list-item">
            Status: <span th:text="${product.get().getStatus()}"></span>
          </a>
          <a class="list-item">
            Created at: <span th:text="${product.get().getCreatedAt()}"></span>
          </a>
          <a class="list-item">
            Updated at: <span th:text="${product.get().getUpdatedAt()}"></span>
          </a>
        </div>
        <div class="list is-hoverable">
        </div>
        <hr />
        <script src="/javascript/modal.js" th:src="@{/javascript/modal.js}"></script>
      </div>
    </div>
  </body>
</html>
