<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ShoppingList DashBoard</title>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
    <form th:action="@{/sign_in}" method="POST">
      <div class="card-header">
        <p class="card-header-title ">
           Shopping List Login
        </p>
      </div>
      <div class="card-content">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div class="form-label-group">
            <label>User Name</label> <input type="text" name="username" class="input" >
          </div>
          <div class="form-label-group">
            <label>Password</label> <input type="password" name="password" class="input" >
          </div>
      </div>
        <div class="card-footer">
          <div class="column has-text-centered">
            <input type="submit" value="login" class="button is-medium is-link block is-outlined">
          </div>
        </div>
      </form>
      <div class="column is-1"></div>
  </div>
</body>
</html>